@media screen and (max-width: 600px){
    .banner-title{
        font-size: 2em;
    }
    .banner-description{
        font-size: 1rem;
    }
    .dark-shade{
        padding: 32px 15px;
        margin: 0 auto;
    }

    .categories > input{
        width: auto;
     
    }
    .categories{
        flex-direction: column;
        width: auto;
       
    }
    .btn-primary{
        width: auto;
        
    }
}