@media screen and (max-width: 600px){
    .dark-shade{
        padding: 32px 15px;
        margin: 0 auto;
    }

    .categories > input{
        width: 385px;
        margin: 0 auto;
        padding: 20px;
    }
    .categories{
        flex-direction: column;
        margin: 5px ;
    }
    .btn-primary{
        width: 425px;
        margin: 0 auto;
    }
}